<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.photosurfer.android">

    <application
        android:name=".PhotoSurferApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoSurferAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <service
            android:name=".PhotoSurferMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            +
        </service>
        <!--푸시 아이콘 지정-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />

        <activity
            android:name=".auth.LoginActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".register_tag.RegisterTagActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".push_setting.PushSettingActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".main.setting.ManageAccountActivity"
            android:exported="false" />

        <activity
            android:name=".main.setting.EtcPolicyActivity"
            android:exported="false" />

        <activity
            android:name=".search_result.SearchResultActivity"
            android:exported="true" />
        <!-- TODO : 효림 곧 export 수정 예정 -->

        <activity
            android:name=".alarm_list.moreinfo.AlarmListExtraActivity"
            android:exported="false" />
        <activity
            android:name=".alarm_list.eachinfo.AlarmSpecificImageActivity"
            android:exported="false" />
    </application>
</manifest>
